<h1>행운의 로또 번호!!(랜덤생성)</h1>
<%=@lotto %><br>
<h1>이번주 1등번호</h1>
<h3><%=@winner.sort %></h3>
<!--<h3><%=@lotto_info %></h3>-->
<!--<h3><%=@lotto_hash %></h3>-->
<h1> <%=@matchnum %>개가 일치 합니다.</h1>
<h1> <%=@result %> 입니다.</h1>